<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="dbService" class="service.DBService"/>
    <bean id="advisorService" class="service.AdvisorService"/>

    <!-- aop配置（手动配置） -->
    <!--  aop：config的含义就是 手动配置一个aop，并添加到bean工厂-->
    <aop:config>
        <aop:pointcut id="a" expression="execution(* *.*())"/>
        <!-- 定义一个通知，包含拦截的方法以及切入点 -->
        <aop:advisor advice-ref="advisorService" pointcut-ref="a"/>
    </aop:config>

</beans>