<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 数据源 -->
    <import resource="classpath*:Datasource.xml"/>
    <!-- 工厂类 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="datasource"/>
        <property name="mapperLocations" value="mybatis/*.xml"/>
    </bean>
    <!-- sql操作类 -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>
    <!-- 代理类 -->
    <bean id="userDao" class="suncodes.mybatis.spring.dao.impl.UserDaoImplSupport">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
</beans>